

  {% load static %}
  {% include 'header.html' %}
    <div class="ftco-blocks-cover-1"></div>
      <div class="site-section-cover overlay" style="background-image: url('../static/images/hero_1.jpg')">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-5" data-aos="fade-right">
              <h1 class="mb-3 text-white">Your Journey Starts Here</h1>
              <p style="font-family: Georgia, 'Times New Roman', Times, serif;">It's not about how far you go,but how deeply you feel the journey.The road may be long,but the story becomes beautiful.</p>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section py-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="heading-39101 mb-5">
              <span class="backdrop">Story</span>
              <span class="subtitle-39191">Discover Story</span>
              <h3 style="font-family: serif;">Our Story</h3>
            </div>
            <p style="font-family:cursive;">We believe travel is more than visiting places,it’s about collecting moments that stay forever.From peaceful beaches to hidden mountain paths, we craft journeys that fit your dreams and budget.</p>
            <p style="font-family:cursive;">Every trip is planned with care, comfort, and local experiences in mind.Whether it’s a quick escape or a long adventure, we travel with you at every step.Let’s turn your next destination into a beautiful story worth telling.</p>
          </div>
          <div class="col-md-6" data-aos="fade-right">
            <img src="{% static 'images/traveler.jpg' %}" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">

      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-7">
            <div class="heading-39101 mb-5">
              <span class="backdrop text-center">Journey</span>
              <span class="subtitle-39191">Journey</span>
              <h3 style="font-family: serif;">Your Journey Starts Here</h3>
            </div>
          </div>
        </div>
        <div class="row">                                                          
          <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up">
            <div class="listing-item">
              <div class="listing-image">
              <img src="{% static 'images/img_1.jpg' %}" alt="Image" class="img-fluid">
                <!-- <a href="templates\forest.html"></a> -->
              </div>
              <div class="listing-item-content">
                <a class="px-3 mb-3 category bg-primary" href="forestpage">10000 Rs</a>
                <h2 class="mb-1"><a href="forestpage">Forest Trip</a></h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up">
            <div class="listing-item">
              <div class="listing-image">
                <img src=" {% static 'images/img_2.jpg' %}" alt="Image" class="img-fluid">
              </div>
              <div class="listing-item-content">
                <a class="px-3 mb-3 category bg-primary" href="#">15000 Rs</a>
                <h2 class="mb-1"><a href="trip-single.html">Himalayan Trip</a></h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up">
            <div class="listing-item">
              <div class="listing-image">
                <img src="{% static 'images/img_3.jpg' %}" alt="Image" class="img-fluid">
              </div>
              <div class="listing-item-content">
                <a class="px-3 mb-3 category bg-primary" href="#">6000 Rs</a>
                <h2 class="mb-1"><a href="trip-single.html">Mountain Trip</a></h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up">
            <div class="listing-item">
              <div class="listing-image">
                <img src="{% static 'images/img_4.jpg' %}" alt="Image" class="img-fluid">          
              </div>
              <div class="listing-item-content">
                <a class="px-3 mb-3 category bg-primary" href="#">9000 Rs</a>
                <h2 class="mb-1"><a href="trip-single.html">Desert Trip</a></h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up">
            <div class="listing-item">
              <div class="listing-image">
                <img src="{% static 'images/img_5.jpg' %}" alt="Image" class="img-fluid">
              </div>
              <div class="listing-item-content">
                <a class="px-3 mb-3 category bg-primary" href="#">7000 Rs</a>
                <h2 class="mb-1"><a href="trip-single.html">Ocean Trip</a></h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up">
            <div class="listing-item">
              <div class="listing-image">
                <img src="{% static 'images/img_6.jpg' %}" alt="Image" class="img-fluid">             
              </div>
              <div class="listing-item-content">
                <a class="px-3 mb-3 category bg-primary" href="#">1,50000 Rs</a>
                <h2 class="mb-1"><a href="trip-single.html">Other Country Trip</a></h2>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="site-section">

      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-10">
            <div class="heading-39101 mb-5">
              <span class="backdrop text-center">Our Team</span>
              <span class="subtitle-39191">Amazing Staff</span>
              <h3 style="font-family: serif;">Meet Our Team</h3>
            </div>
          </div>
        </div>


        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="person-29191 text-center">
              <img src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid mb-4">      
              <div class="px-4">
                <h2 class="mb-2">Henry Wick</h2>
                <p class="caption mb-4">Staff</p>
                <p>I provide informative and engaging guidance to travelers, ensuring their safety, comfort, and enjoyment throughout the tour. I communicate clearly, manage groups effectively, and enhance the overall travel experience.</p>
                <div class="social_29128 mt-5">
                <a href="#"><span class="icon-facebook"></span></a>  
                <a href="#"><span class="icon-instagram"></span></a>  
                <a href="#"><span class="icon-twitter"></span></a>  
               </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="person-29191 text-center">                                  
              <img src="{% static 'images/person_2.jpg' %}" alt="Image" class="img-fluid mb-4">
              <div class="px-4">
                <h2 class="mb-2">Clara Alex</h2>
                <p class="caption mb-4">Staff</p>
                <p>I handle customer inquiries, reservations, and post-booking support efficiently. I resolve issues professionally and ensure timely communication to maintain a positive customer experience.I handle customer queries professionally.</p>
                <div class="social_29128 mt-5">
                <a href="#"><span class="icon-facebook"></span></a>  
                <a href="#"><span class="icon-instagram"></span></a>  
                <a href="#"><span class="icon-twitter"></span></a>  
               </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="person-29191 text-center">
              <img src="{% static 'images/person_3.jpg' %}" alt="Image" class="img-fluid mb-4">             
              <div class="px-4">
                <h2 class="mb-2">Sydney Jerk</h2>
                <p class="caption mb-4">Staff</p>
                <p>I support daily travel operations by assisting customers, coordinating bookings, and ensuring smooth service delivery. I work collaboratively with the team and strive to improve service standards and customer satisfaction.</p>
                <div class="social_29128 mt-5">
                <a href="#"><span class="icon-facebook"></span></a>  
                <a href="#"><span class="icon-instagram"></span></a>  
                <a href="#"><span class="icon-twitter"></span></a>  
               </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>


    

    <div class="site-section">

      <div class="container">

        <div class="row justify-content-center text-center">
          <div class="col-md-10">
            <div class="heading-39101 mb-5">
              <span class="backdrop text-center">Testimonials</span>
              <span class="subtitle-39191">Testimony</span>
              <h3 style="font-family: serif;">Happy Customers</h3>
            </div>
          </div>
        </div>

        <div class="owl-carousel slide-one-item">
          <div class="row">
            <div class="col-md-6">

              <div class="testimonial-39191 d-flex">
                <div class="mr-4">
                  <img src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid">         
                </div>
                <div>
                <blockquote>&ldquo;Professional team, well-planned itinerary, and excellent support throughout the journey.They turned our vacation into a lifetime memory. Highly recommended!&rdquo;</blockquote>
                <p>&mdash; Wicky john</p>
                </div>
              </div>    
              
            </div>

            <div class="col-md-6">

              <div class="testimonial-39191 d-flex">
                <div class="mr-4">
                  <img src="{% static 'images/person_2.jpg' %}" alt="Image" class="img-fluid">
                </div>
                <div>
                <blockquote>&ldquo;The package was perfectly designed — great hotels, smooth travel, and amazing sightseeing.Our tour guide made the experience even more enjoyable.&rdquo;</blockquote>
                <p>&mdash; Sara Alex</p>
                </div>
              </div>    
              
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">

              <div class="testimonial-39191 d-flex">
                <div class="mr-4">
                  <img src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid">        
                </div>
                <div>
                <blockquote>&ldquo;Perfect choice for travelers looking for quality trips at affordable prices.Affordable, honest pricing with no hidden costs.&rdquo;</blockquote>
                <p>&mdash; John Jose</p>
                </div>
              </div>    
              
            </div>

            <div class="col-md-6">

              <div class="testimonial-39191 d-flex">
                <div class="mr-4">
                  <img src="{% static 'images/person_2.jpg' %}" alt="Image" class="img-fluid">
                </div>
                <div>
                <blockquote>&ldquo;NexTrip made our journey smooth, memorable, and completely stress-free.One of the best tour packages we’ve booked.Thanks to NexTrip.&rdquo;</blockquote>
                <p>&mdash; Emilly Lora</p>
                </div>
              </div>    
              
            </div>
          </div>

        </div>

      </div>
    </div>


    <div class="site-section">

      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-10">
            <div class="heading-39101 mb-5">
              <span class="backdrop text-center">Blog</span>
              <span class="subtitle-39191">Updates</span>
              <h3 style="font-family: serif;">Our Blog</h3>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
              <a href="single.html">
                <img src="{% static 'images/img_1.jpg' %}" alt="Image"              
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                
                <h2><a href="single.html">Lorem ipsum dolor sit amet</a></h2>
                <span class="meta d-inline-block mb-3">July 17, 2019 <span class="mx-2">by</span> <a href="#">Admin</a></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias consectetur.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
              <a href="single.html">
                <img src="{% static 'images/img_2.jpg' %}" alt="Image"
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                
                <h2><a href="single.html">Lorem ipsum dolor sit amet</a></h2>
                <span class="meta d-inline-block mb-3">July 17, 2019 <span class="mx-2">by</span> <a href="#">Admin</a></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias consectetur.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
              <a href="single.html">
                <img src="{% static 'images/img_3.jpg' %}" alt="Image"               
                 class="img-fluid">
              </a>
              <div class="post-entry-1-contents">
                
                <h2><a href="single.html">Lorem ipsum dolor sit amet</a></h2>
                <span class="meta d-inline-block mb-3">July 17, 2019 <span class="mx-2">by</span> <a href="#">Admin</a></span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias consectetur.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <div class="site-section bg-image overlay" style="background-image: url('images/hero_1.jpg')">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="font-weight-bold text-white">Join and Trip With Us</h2>
            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ut, doloremque quo molestiae nesciunt officiis veniam, beatae dignissimos!</p>
            <p class="mb-0"><a href="#" class="btn btn-primary text-white py-3 px-4">Get In Touch</a></p>
          </div>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}

 