

  {% load static %}
  {% include 'header.html' %}
   <div class="site-section">

      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-7">
            <div class="heading-39101 mb-5">
              <span class="backdrop text-center">Journey</span>
              <span class="subtitle-39191">Journey</span>
              <h3 style="font-family: serif;">Your Journey Starts Here</h3>
            </div>
          </div>
        </div>
        <div class="row">                                                          
          <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up">
            <div class="listing-item">
              <div class="listing-image">
              <img src="{% static 'images/img_1.jpg' %}" alt="Image" class="img-fluid">
                <!-- <a href="templates\forest.html"></a> -->
              </div>
              <div class="listing-item-content">
                <a class="px-3 mb-3 category bg-primary" href="forestpage">10000 Rs</a>
                <h2 class="mb-1"><a href="forestpage">Forest Trip</a></h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up">
            <div class="listing-item">
              <div class="listing-image">
                <img src=" {% static 'images/img_2.jpg' %}" alt="Image" class="img-fluid">
              </div>
              <div class="listing-item-content">
                <a class="px-3 mb-3 category bg-primary" href="#">15000 Rs</a>
                <h2 class="mb-1"><a href="trip-single.html">Himalayan Trip</a></h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up">
            <div class="listing-item">
              <div class="listing-image">
                <img src="{% static 'images/img_3.jpg' %}" alt="Image" class="img-fluid">
              </div>
              <div class="listing-item-content">
                <a class="px-3 mb-3 category bg-primary" href="#">6000 Rs</a>
                <h2 class="mb-1"><a href="trip-single.html">Mountain Trip</a></h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up">
            <div class="listing-item">
              <div class="listing-image">
                <img src="{% static 'images/img_4.jpg' %}" alt="Image" class="img-fluid">          
              </div>
              <div class="listing-item-content">
                <a class="px-3 mb-3 category bg-primary" href="#">9000 Rs</a>
                <h2 class="mb-1"><a href="trip-single.html">Desert Trip</a></h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up">
            <div class="listing-item">
              <div class="listing-image">
                <img src="{% static 'images/img_5.jpg' %}" alt="Image" class="img-fluid">
              </div>
              <div class="listing-item-content">
                <a class="px-3 mb-3 category bg-primary" href="#">7000 Rs</a>
                <h2 class="mb-1"><a href="trip-single.html">Ocean Trip</a></h2>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up">
            <div class="listing-item">
              <div class="listing-image">
                <img src="{% static 'images/img_6.jpg' %}" alt="Image" class="img-fluid">             
              </div>
              <div class="listing-item-content">
                <a class="px-3 mb-3 category bg-primary" href="#">1,50000 Rs</a>
                <h2 class="mb-1"><a href="trip-single.html">Other Country Trip</a></h2>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
    {% include 'footer.html' %}


    

    